/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20-nov-2017, 10:27:54
    Author     : jesus
*/

body{
    padding-top: 50px;
}
.navbar {
    border-radius: 0;
    background-color: #083B66;
}
footer {
    background-color: #5A7C99;
    padding: 25px;
}

.botonNaranja{
    background-color: #E78200;
    color: white;
}

.botonVerde{
    background-color: #74D14C;
    color: white;
}